:root {
    --main-bg-color: #f39c79;
    --main-text-color: #f39c79;
    --second-bg-color: #c1efde;
    --second-text-color: #bbbec5;
    --section-color: #fff;
    --tbody-color: #f2f2f2;
}

.primary-text {
    color: var(--main-text-color);
}
.second-text {
    color: var(--second-text-color);
}
.primary-bg {
    background-color: var(--main-bg-color);
}
.second-bg {
    background-color: var(--second-bg-color);
}
.section-bg {
    background-color: var(--section-color);
}
.tbody-bg {
    background-color: var(--tbody-color);
}

.rounded-full {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: #eeeeee;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -ms-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-height: 100vw;
}
#page-content-wrapper .img-logo {
    width: 220px;
    height: 130px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    
    #page-content-wrapper {
        min-height: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Start Table */
td {
    font-size: 18px;
    padding: 15px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}

.table .view {
    border: none;
    color: var(--main-text-color);
    background: none;
    cursor: pointer;
}
.view-all {
    background-color: var(--main-bg-color);
    padding: 6px 25px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:1200px) {
    .card {
        width: 715px;
    }
}

@media (max-width: 992px) {
    .card {
        width: 715px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 360px;
    }
}
